html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

.book-list {
  display: flex;
  gap: 10px;
}

.book {
  height: 15rem;
  width: 10rem;
  background-color: red;
}